.productList{
  flex: 4;
} 
 
.productListItem{
  display: flex;
  align-items: center;
}

.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productListEdit{
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.productListDelete{
  color: red;
  cursor: pointer;
}


.orderStatusButton {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}

.orderStatusButton.approved{
    background-color: #e5faf2;
    color: #3bb077;
}
.orderStatusButton.declined{
    background-color: #fff0f1;
    color: #d95087;

}
.orderStatusButton.pending{
    background-color: #ebf1fe;
    color: #2a7ade;

}